.container {
  height: 100%;
}

.container header {
  display: flex;
  justify-content: center;

  padding: 4.5rem 0 5rem;

  background-color: var(--gray-700);
}

.container header img {
  width: 7.875rem;
}